.titleBar {

  background-color: rgb(29, 103, 133);
  display: flex;
  align-items: center;
  justify-content: flex-start;

  color: white;
  padding-left: 16px
  
}
.titleBar, h1 {
  padding-left: 12px;
}

.searchBar{
  font-size: 24px;
  display: block;
  width:99%;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px
}

.movieDisplay {
  height: 100%;
  align-items: stretch
}

.App {
  padding-top: 12px;

  text-align: center;
  align-items: stretch;

  border: 2px solid rgb(29, 103, 133);
  border-radius: 5px;
}

